force-app/main/default/flows/AppVenture_Submission-20.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Save_Contact_Address</name>
        <label>Save Contact Address</label>
        <locationX>982</locationX>
        <locationY>233</locationY>
        <assignmentItems>
            <assignToReference>Contact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.HasOptedOutOfEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailOptOut</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Contact</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Less_than_a_year</name>
        <choiceText>Less than a year</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>More_than_5_years</name>
        <choiceText>More than 5 years</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Not_that_I_am_aware_of</name>
        <choiceText>Not that I am aware of</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>not that I am aware of</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_to_5_years</name>
        <choiceText>1 to 5 years</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Has_Conflict</name>
        <label>Has Conflict?</label>
        <locationX>434</locationX>
        <locationY>53</locationY>
        <defaultConnector>
            <targetReference>Entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>YesOnEitherConflict</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Conflict1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Conflict2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Conflict_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>impact description is back in</description>
    <dynamicChoiceSets>
        <name>AppStatusChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>App_Status__c</picklistField>
        <picklistObject>Entry__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Department</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Department__c</picklistField>
        <picklistObject>Entry__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Impact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Impact__c</picklistField>
        <picklistObject>Entry__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>EmailOptOut</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!EmailOptIn})</expression>
    </formulas>
    <interviewLabel>AppVenture Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Appventure Submission</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Entry</name>
        <label>Entry</label>
        <locationX>435</locationX>
        <locationY>251</locationY>
        <assignRecordIdToReference>EntryId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Entry</targetReference>
        </connector>
        <inputAssignments>
            <field>App_Description__c</field>
            <value>
                <elementReference>AppDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>App_Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Name__c</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conflicts__c</field>
            <value>
                <elementReference>conflictDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contest__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>department_info</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Free_Name__c</field>
            <value>
                <elementReference>codename</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impact_Description__c</field>
            <value>
                <elementReference>impact_description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impact__c</field>
            <value>
                <elementReference>How_many_people_are_impacted_by_this_app_process</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Title__c</field>
            <value>
                <elementReference>Job_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pain_Points__c</field>
            <value>
                <elementReference>pain_points</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>source</elementReference>
            </value>
        </inputAssignments>
        <object>Entry__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>815</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_Contact_Address</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>HasOptedOutOfEmail</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Entry</name>
        <label>Get Entry</label>
        <locationX>558</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EntryId</elementReference>
            </value>
        </filters>
        <object>Entry__c</object>
        <outputAssignments>
            <assignToReference>UserId</assignToReference>
            <field>CreatedById</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>729</locationX>
        <locationY>348</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>contactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Save_Contact</name>
        <label>Save Contact</label>
        <locationX>1132</locationX>
        <locationY>231</locationY>
        <connector>
            <targetReference>Save_Contact_on_Entry</targetReference>
        </connector>
        <inputReference>Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Save_Contact_on_Entry</name>
        <label>Save Contact on Entry</label>
        <locationX>982</locationX>
        <locationY>357</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EntryId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <object>Entry__c</object>
    </recordUpdates>
    <screens>
        <name>About_You</name>
        <label>About You</label>
        <locationX>253</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Has_Conflict</targetReference>
        </connector>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Job_Title</name>
            <dataType>String</dataType>
            <fieldText>Job Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>tenure</name>
            <choiceReferences>Less_than_a_year</choiceReferences>
            <choiceReferences>X1_to_5_years</choiceReferences>
            <choiceReferences>More_than_5_years</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How long have you been at that company?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>source</name>
            <fieldText>How did you hear about this contest?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ConflictLanguage</name>
            <fieldText>Have any of the company&#39;s officers/c-suite executives at any point since May 1, 2015 have been employed by Salesforce, the Salesforce Foundation, Salesforce.org and affiliates​ or any of its direct or indirect wholly or majority owned subsidiaries?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Conflict1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>Not_that_I_am_aware_of</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Not_that_I_am_aware_of</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ConflictLanguage2</name>
            <fieldText>Have any of the company&#39;s officers/c-suite executives at any point since May 1, 2015 have been employed by any entity in which Salesforce has invested and holds an ownership interest?​</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Conflict2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>Not_that_I_am_aware_of</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Not_that_I_am_aware_of</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Address</name>
            <fieldText>Let&#39;s get your mailing address where we can send your prize</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Street_Address</name>
            <dataType>String</dataType>
            <fieldText>Street Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>State</name>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Postal_Code</name>
            <dataType>String</dataType>
            <fieldText>Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Country</name>
            <dataType>String</dataType>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EmailOptIn</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Yes, I&#39;d like to receive email communications regarding Salesforce products, services, and events. I understand that I can unsubscribe at any time.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TC</name>
            <dataType>Boolean</dataType>
            <fieldText>I read and agree to the terms and conditions (they&#39;re in the footer!)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>You have to agree to the terms and conditions to enter.</errorMessage>
                <formulaExpression>{!TC}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Conflict_Details</name>
        <label>Relationship Details</label>
        <locationX>632</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Entry</targetReference>
        </connector>
        <fields>
            <name>conflictDetails</name>
            <fieldText>Tell us about your executives&#39; relationship with Salesforce</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Intro</name>
        <label>About your App</label>
        <locationX>61</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>About_You</targetReference>
        </connector>
        <fields>
            <name>codename</name>
            <dataType>String</dataType>
            <fieldText>What would be the fun codename for this app?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AppDescription</name>
            <fieldText>Describe your app idea</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>How_many_people_are_impacted_by_this_app_process</name>
            <choiceReferences>Impact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How many people are impacted by this app/process?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>pain_points</name>
            <fieldText>What main pain points does your new app solve?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>impact_description</name>
            <fieldText>What impact would improving this process have on your business (use metrics if you can)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>department_info</name>
            <choiceReferences>Department</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What department currently owns the app/process you are going to improve</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>AppStatusChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How far along is your app?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Intro</startElementReference>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EntryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
